:root {
    --color-title: #170C00;
    --color-text: #EDC9A3;
    --color-border: #994d00;
    --color-background: rgba(153, 77, 0, 0.5);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-border);
    background-image: url('/images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    color: var(--color-text);
    overflow: auto;
    position: absolute;
    text-align: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px;
    width: 90%;
    overflow: hidden;
}

#content-container {
    display: flex;
    align-items: normal;
    justify-content: space-between;
}

.page-header {
    width: 100%;
    height: 42px;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 20px;
    padding: 5px;
}

.page-header {
    background: rgba(155, 77, 0, 0.55);
    border: 2px solid var(--color-border);
    border-top: 0;
    border-radius: 0 0 8px 8px;
}

.page-header a {
    font-size: 2rem;
    color: var(--color-text);
    text-decoration: none;

    transition: opacity 0.2s;
}

.page-header a:hover {
    opacity: 0.4;
}

p, h2, h3{
    font-family: 'Italianno', cursive;
    font-size: 30px;
    font-style: normal;
    margin-top: 0;
}

h2 {
    font-size: 35px; 
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-variant: small-caps;
    color: var(--color-title);
}

#social:hover {
    transform: scale(1.2);
}

.title h1 {
    float: left;
}

#top-content, .bio-more, #schedule, #musics {
    background: var(--color-background);
    border: 2px solid var(--color-border);
    border-radius: 8px;
}

#top-content, #schedule, #musics{
    text-align: left;
    padding: 2rem;
    width: 100%;
}

#top-content {
    padding: 1rem 2rem;
}

#social {
    background: rgba(237, 201, 163, 0.55);
    border: 2px solid var(--color-border);
    border-radius: 8px;
    width: 40px;
}

#content {
    width: 60vw;
    padding-top: 0;

    display: flex;
    flex-direction: column;
    justify-content: right;
}

#sidebar {
    width: 30%;
    height: 100vh;
    margin-top: 0;
    color: var(--color-text);
}

.avatar {
    padding: 1% 5%;
}

.bio-more img {
    background: rgba(f,f,f,1);
    margin: auto;
    width: 100%;
    margin-top: 4px;
    padding: 5px;
    opacity: 1;
}

.bio-more div.infos {
    padding: 5px;
    border-top: 2px solid var(--color-border);
}

.bio-more div.infos p {
    margin-bottom: 1px;
    font-size: 24px;
}

.bio-more div.infos h3 {
    margin-bottom: -10px;
    text-decoration: underline;
}

.bio, #schedule, #musics {
    height: auto;
    text-align: left;
    float: left;
}

#schedule, #musics {
    margin-top: 20px;
}

#schedule dt {
    margin-top: 15px;
}

#schedule dl {
    margin-top: 0;
    font-family: 'Italianno', cursive;
    font-size: 30px;
}